:root {
    --primary-color:#17252A;
    --secondary-color: #2B7A78;
    --tertiary-color: #3AAfA9;
    --quaternary-color:#DEF2F1;
    --quinary-color:#FEFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* General Body and Text Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--quinary-color);
}

h1, h2, h3 {
    margin: 0;
}

/* Header Styles */
header {
    padding: 20px 10px 20px 0px;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

header h1 {
    font-weight: bold;
    padding: 10px 1% 10px 6%;
    margin: 0;
    font-size: 3.75rem;
    color: var(--quinary-color);
    background-color: var(--secondary-color);
    line-height: 1;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav {
    margin: 10px 20px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px;
    margin: 10px 5px 10px 5px;
    font-weight: lighter;
    font-size: 1.75rem;
    color: var(--quinary-color);
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background-color: var(--primary-color);
}

/* Header Styles End */

/* Hero Styles */
.hero-banner {
    background: var(--quaternary-color);
    background-image: url("../images/clipart-free-mountain-7-transparent.png");
    background-size: cover;
    background-position: center top;
    min-height: 20vw;
    padding: 1% 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;
}

.hero-banner h2 {
    color: var(--quinary-color);
    background-color: var(--secondary-color);
    margin: 10px 0px;
    padding: 8px 10px;
    font-size: 3vw;
    line-height: 1;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Hero Styles End */

/* Main Styles */
.page-wrapper {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;;
    background-color: var(--quaternary-color);
}

.page-section {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    font-size: 3.5vw;
    text-align: right;
    padding-right: 10px;
    color: var(--primary-color);
    border-right: 4px solid var(--primary-color);
    line-height: 1;
}

.page-section > div {
    flex: 0 0 75%
}

.page-section img {
    height: 200px;
    width: 200px;
    margin: 0px 10px 10px 5px;
    border: 2px solid var(--primary-color);
}

.page-section p {
    margin: 10px;
    color: var(--primary-color);
    float: left;
}

.page-section a {
    color: var(--quinary-color);
}

/* Flex Styles */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    display: flex;
    flex: 1;
    align-items: flex-end;
    margin: 10px;
    padding: 5px;
    border: 4px solid var(--secondary-color);
    background-color: var(--quaternary-color);
    min-height: 150px;
    max-height: 150px;
    background-size: 200%;
}

.flex-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item div {
    background-color: var(--secondary-color);
    padding: 10px;
}

.flex-item h3 {
    font-size: 1.1rem;
}

.flex-item span {
    font-size: 1rem;
}

/* Background Images for Work */
.run-buddy {
    background-image: url(../images/run-buddy.jpg);
}

.horiseon {
    background-image: url(../images/horiseon.jpg);
}

.robot-gladiators {
    background-image: url(../images/cute-807306_1920.png);
}

.future-project1 {
    background-image: url(../images/placeholder1.jfif);
}

.future-project2 {
    background-image: url(../images/apptapp.png);
}

/* Work Styles End */

/* Contact Styles */
.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact address a {
    padding: 5px;
    font-weight: lighter;
    font-size: 1.75vw;
    font-style: normal;
    color: var(--primary-color);
    text-decoration: none;
    display: inline-block;
}

.contact address a:hover {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
}

/* Contact Styles End */

/* Media Query Styles */
@media screen and (max-width: 980px) {
    header {
        padding: 10px;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        width: 100%;
        font-size: 10vw;
    }

    header nav ul {
        justify-content: center;
    }

    .hero-banner {
        justify-content: center;
        text-align: center;
    }

    .hero-banner h2 {
        font-size: 5vw;
    }

    .page-section {
        align-items: center;
        justify-content: center;
    }
    .page-section > h2,
    .page-section > div {
        flex: 0 0 100%;
        justify-content: center;
        text-align: left;
    }

    .page-section > h2 {
        border-right: none;
        border-bottom: 4px solid var(--primary-color);
        text-align: center;
        font-size: 8vw;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .page-section div img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .flex-item:first-child {
        min-height: 200px;
    }

    .contact address {
        justify-content: center;
    }

    .contact address a {
        font-size: 4vw;
    }
}